@{
    ViewBag.Title = "Home Page";
}
<div> <img src="~/Content/Image/car.jpg" title="title" alt="Car" /></div>
<div class="indeximg"></div>

<div class="jumbotron">

    <h1>Garage</h1>

    <p class="lead">Welcome to our Garage</p>
    <p><a href="http://localhost:56661/ParkedVehicles/Vehicles" class="btn btn-primary btn-lg">Enter Garage &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Park Vehicle</h2>

        <p><a class="btn btn-success" href="http://localhost:56661/ParkedVehicles/Create"> Park Vehicle &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Check Out Vehicle</h2>

        <p><a class="btn btn-default" href="http://localhost:56661/ParkedVehicles">Search and Check Out Vehicle from Garage &raquo;</a></p>
    </div>

</div>